
<footer class="footer">
    <div class="cols">
      <div class="col1">
        <h4>ABOUT AKOUMA</h4>
        <p> <a href="#"> Calender</a></p>
        <p> <a href="#"> Campus directories</a></p>
        <p> <a href=""> Campus safety</a></p>
        <p> <a href=""> Help desk </a></p>
        <p> <a href=""> Privacy </a></p>
      </div>
  
      <div class="col2">
        <h4>QUICK LINKS</h4>
        <p> <a href="#"> Email</a></p>
        <p> <a href="#"> Employment</a></p>
        <p> <a href=""> Feed back</a></p>
        <p> <a href=""> Our teachers</a></p>
      </div>
  
      <div class="col3">
        <h4>SCHOOLS</h4>
        <p> <a href="#"> College of arts</a></p>
        <p> <a href="#"> College of sciences</a></p>
        <p> <a href=""> General education</a></p>
  
      </div>
  
      <div class="col4">
        <div class="logo">
          <img class="logo" src="../assets/images/Alogo.png" alt="">
          <h3
            style="margin-left: 1em; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            AKOUMA College</h3>
  
        </div>
        <div class="rest">
          <p
            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            P.O. BOX __ Yaounde City, Cmn</p>
          <p>(+237) 690-780-798 || 676-210-234</p>
          <a href="https://twitter.com/akouma" class="nav-link-ex linkf"><img src="../assets/images/Atwitterf.png" alt=""
              title="Akouma twitter"></a>
          <a href="https://facebook.com/akouma" class="nav-link-ex linkf"><img src="../assets/images/Afacebookf.png"
              alt="" title="Akouma facebook"></a>
          <a href="https://linkedin.com/akouma" class="nav-link-ex linkf"><img src="../assets/images/Alinkedinf.png"
              alt="" title="Akouma linkedin"></a>
          <a href="https://instagram.com/akouma" class="nav-link-ex linkf"><img src="../assets/images/Ainstaf.png" alt=""
              title="Akouma linkedin"></a>
        </div>
      </div>
    </div>
    <div class="lastcol">
      <nav class="navf">
        <a routerLink="/about" routerLinkActive="active-link" class="nav-linkf">About</a>
        <a href="https://maps.app.goo.gl/a5aVCdD2Huz4Z8LJ9" routerLinkActive="active-link" class="nav-linkf">Visit</a>
        <!-- <a routerLink="/contact" routerLinkActive="active-link" class="nav-linkf" >Contact us</a> -->
        <a routerLink="/marks" routerLinkActive="active-link" class="nav-linkf">Post student marks</a>
        <a routerLink="/contact" routerLinkActive="active-link" class="nav-linkf">Contact</a>
        <p>&copy;copyright 2022.</p>
      </nav>
    </div>
  </footer>
