
  .footer{
    margin:  auto;
    margin-top : 4cm;
    background-color: #333;
    opacity: .7;
    position: absolute;

    min-width: 100%;
    /* min-height: 20px; */
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
  }
  .cols{
    display: flex;
    padding: 1.4em;
    color: #fff;
    line-height: 1.5em;
    margin: 0 auto;
  }
  .col1, .col2, .col3, .col4{
    margin: 0 auto;
  }
  .col4{
    display: block;
  }
  .logo{
    display: flex;
  }
  .rest{
    display: block;
  }
  .footer a{
    color: #fff;
    text-decoration: none;
    font-family: cursive;
  }
  .cols p{
    text-align: justify;
    padding-left: 1em;
  }
  .cols h4{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .logo{
    height: 4.4em;
    width: 4.3em;
  }
  .linkf{
    margin: 0;
    float: right;
  }
  .linkf> img{
    width: 1.5em;
    height: 1.5em;
    margin-left: .5em;

  }
  .lastcol{
    background-color: rgb(3, 3, 3);
  }
  .navf{
    background-color: inherit;
    height: 1.5vh;
    margin: 0 auto;
   padding: 2.0em 0em 1.9em 0em;
    vertical-align: middle;
    border-radius: 0px;
    display: flex;
    opacity: 1;
  }

  .nav-linkf{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 3em;
    font-weight: lighter;
  }
  .nav-linkf:hover{
    transition: all .5s;
    transition-timing-function: ease-in-out;
    font-weight: lighter;
   font-size:small;
  }

  .navf > p{
    margin-left: 16%;
    /* float: right; */
  }

