<div class="aabout">
    <div class="left">
        <h1 class="title" style="color: rgba(182, 37, 11, 0.73);">About Us</h1>
        <p
            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        <p
            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            voluptate quo iste, nulla cupiditate id eligendi rerum. </p>
        <p
            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Animi illo odio possimus necessitatibus.</p>
        <p
            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            dolor blanditiis maxime illum error, sit aliquid quam autem.</p> <br><br>
        <button routerLink="/contact">Contact us</button>
    </div>
        <div class="right">
            <div class="top">
                <div class="pic-container">
                    <div class="pic {{picTranslate}}" (click)="turnOn()" style="margin-left: 17em;">
                        <img *ngIf="nothidden" alt="">
                        <h3 *ngIf="hidden" class="{{descTranslate}}"
                            style="color: white; font-weight: bolder; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Founder name.</h3>
                        <p *ngIf="hidden" class="{{descTranslate}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam libero quibusdam
                            aliquid
                            commodi.</p>
                        <p *ngIf="hidden" class="{{descTranslate}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            commodi.</p>
                    </div>
                </div>

                <div class="pic-container">
                    <div class="pic {{picTranslate1}}" (click)="turnOn1()">
                        <img *ngIf="nothidden1" alt="">
                        <h3 *ngIf="hidden1" class="{{descTranslate1}}"
                            style="color: white; font-weight: bolder; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Founder name.</h3>
                        <p *ngIf="hidden1" class="{{descTranslate1}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam libero quibusdam
                            aliquid
                            commodi.</p>
                        <p *ngIf="hidden1" class="{{descTranslate1}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            commodi.</p>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="pic-container">
                    <div class="pic {{picTranslate2}}" (click)="turnOn2()" style="margin-left: 17em;">
                        <img *ngIf="nothidden2" alt="">
                        <h3 *ngIf="hidden2" class="{{descTranslate2}}"
                            style="color: white; font-weight: bolder; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Founder name.</h3>
                        <p *ngIf="hidden2" class="{{descTranslate2}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam libero quibusdam
                            aliquid
                            commodi.</p>
                        <p *ngIf="hidden2" class="{{descTranslate2}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            commodi.</p>
                    </div>
                </div>

                <div class="pic-container">
                    <div class="pic {{picTranslate3}}" (click)="turnOn3()">
                        <img *ngIf="nothidden3" alt="">
                        <h3 *ngIf="hidden3" class="{{descTranslate3}}"
                            style="color: white; font-weight: bolder; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Founder name.</h3>
                        <p *ngIf="hidden3" class="{{descTranslate3}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam libero quibusdam
                            aliquid
                            commodi.</p>
                        <p *ngIf="hidden3" class="{{descTranslate3}}"
                            style="color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            commodi.</p>
                    </div>
                </div>
            </div>

        </div>
</div>
<br/>
<br/>
<br/>
<app-footer></app-footer>
