<div class="welcome">
<h3>Welcome to our school</h3>
<h1>Bring Knowledge To Your Kids</h1>
<h3 style="color: #fff; padding-top: 1em;">Conducive environment for your kids.</h3>

<button class="toAbout" routerLink="/about">Learn more</button>
</div>


<div class="bottom">

    <div class="bottom1">
        <div class="head1">
            <img src="../assets/images/Alogo.png" class="head1-img" style=" height: 13.5vh; width: 70%; margin: 10% 0 0 15%;" alt="">
        </div>
        <div class="body1" class="{{classHeight}}">
            <h3 style="font-weight: bold;">WHAT IS</h3>
            <h2 style="font-weight: bold;">OUR SCHOOL?</h2>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, ullam facere sit cupiditate, assumenda, minus. </p>
              <p class="p2">  ipsam nulla nemo velit vitae omnis perferendis error facilis explicabo saepe voluptatibus dolorum vero nisi! </p>
              <p class="p2" class="{{classVisible}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p> 
              <p class="p2" class="{{classVisible}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              
        </div>
        <div class="tail">
                <button class="more" class = "{{classMargin}}" (click)= "expandCard()">{{case}}</button>
              </div>
    </div>

    <div class="bottom2">
        <div class="head2">
            <img src="../assets/images/Aidea.png" class="head1-img" style=" height: 13.5vh; width: 70%; margin: 10% 0 0 15%;" alt="">
        </div>
        <div class="body2" class="{{classHeight1}}">
            <h3 style="font-weight: bold;">OUR</h3>
            <h2 style="font-weight: bold;">IMPACT</h2>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, ullam facere sit cupiditate, assumenda, minus. </p>
              <p class="p2">  ipsam nulla nemo velit vitae omnis perferendis error facilis explicabo saepe voluptatibus dolorum vero nisi! </p>
              <p class="p2" class="{{classVisible1}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible1}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible1}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p> 
              <p class="p2" class="{{classVisible1}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
        </div>
        <div class="tail">
            <button class="more" class = "{{classMargin1}}" (click)= "expandCard1()">{{case1}}</button>
          </div>
    </div>

    <div class="bottom3">
        <div class="head3">
            <img src="../assets/images/Aadd.png" class="head1-img" style=" height: 13.5vh; width: 70%; margin: 10% 0 0 15%;" alt="">
        </div>
        <div class="body3" class="{{classHeight2}}">
            <h3 style="font-weight: bold;">GET</h3>
            <h2 style="font-weight: bold;">INVOLVED</h2>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, ullam facere sit cupiditate, assumenda, minus. </p>
            <p class="p2">  ipsam nulla nemo velit vitae omnis perferendis error facilis explicabo saepe voluptatibus dolorum vero nisi! </p>
              <p class="p2" class="{{classVisible2}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible2}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible2}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
              <p class="p2" class="{{classVisible2}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla itaque maxime eius accusantium </p>
        </div>
        <div class="tail">
            <button class="more" class = "{{classMargin2}}" (click)= "expandCard2()">{{case2}}</button>
          </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<app-footer></app-footer>